
li:hover{
    background-color: burlywood;
}
body{
    background-image: url("https://tse4.mm.bing.net/th?id=OIP.psbSiMMCN2NfWB_CoqcpHQHaDm&pid=Api&P=0&h=180");
    background-repeat: no-repeat;
    background-size: cover;
}